/*{{{ Spotify App API Imports */

/* @import url('sp://import/css/eve.css'); */
@import url('sp://import/css/adam.css');
@import url('sp://import/css/api.css');
@import url('sp://import/css/shared.css');

/*}}}*/
/*{{{ Base layout */

body {
	padding: 20px;
}

#wrapper {
	margin: 0 auto;
	min-width: 450px;
	max-width: 800px;
}

/*}}}*/
/*{{{ Global elements / typography */

.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after { clear: both; }

h1, h2, h3 {
	line-height: 1.25;
	font-weight: bold;
	text-shadow: initial;
}

/*}}}*/
/*{{{ Header */

.header {
	margin-bottom: 20px;
	line-height: 32px;
	vertical-align: middle;
}

.header .logo,
.header .options {
	float: left;
}
.header .logo > *,
.header .options > * {
	display: inline-block;
	vertical-align: middle;
}

.header h1 {
	font-size: 24px;
	letter-spacing: 1px;
}

.header img {
	margin-right: 15px;
	border-radius: 5px;
	width: 30px;
}

.header .options {
	margin-left: 50px;
}

.switch-input {
	display: none;
}
.switch-input + label.switch {
	position: relative;
	display: inline-block;
	width: 57px;
	height: 23px;
	background: url('../img/switch.png') no-repeat 0 0;
	cursor: pointer;
}
.switch-input:checked + label.switch {
	background-position: 0 -23px;
}

/*}}}*/
/*{{{ Throbber */

@-webkit-keyframes throbber {
	0%     { background-position-x: 0; }
	8.33%  { background-position-x: -32px; }
	16.66% { background-position-x: -64px; }
	25%    { background-position-x: -96px; }
	33.33% { background-position-x: -128px; }
	41.66% { background-position-x: -160px; }
	50%    { background-position-x: -192px; }
	58.33% { background-position-x: -224px; }
	66.66% { background-position-x: -256px; }
	75%    { background-position-x: -288px; }
	83.33% { background-position-x: -320px; }
	91.66% { background-position-x: -352px; }
}

.loading-throbber {
	display: none;
}
.loading .loading-throbber {
	-webkit-animation: throbber 1s infinite;
	-webkit-animation-timing-function: step-start;
	display: inline-block;
	margin-top: -4px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	background: url('../img/throbber.png') no-repeat 0 0;
}

/*}}}*/
/*{{{ List */

.list {
	box-sizing: border-box;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	text-align: left;
	-moz-user-select: none;             
	-webkit-user-select: none;
}

.list thead tr {
	background: -webkit-linear-gradient(top, #cccccc 0%, #a8a8a8 2%, #868686 98%, #292929 100%);
	text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.4);
	color: #111;
}

.list th {
	padding: 1px 5px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #666;
}

.list tbody tr { background: #333; }
.list tbody tr:nth-child(even) { background: #303030; }

.list td {
	padding: 2px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list .track { width: 30%; }
.list .artists { width: 30%; }
.list .requesters { width: 40%; }

/*}}}*/
